@import './fonts.scss';

body {
	background-color: whitesmoke;
	color: #61686b;
	font-family: 'Raleway', sans-serif;
}

.bg-white {
	background-color: #fff;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.layer-2 {
	position: absolute;
	top: 0px;
	z-index: 2;
}

.layer-1 {
	z-index: 1;
}

.layer {
	position: absolute;
	top: 0px;

	&-0 {
		z-index: 0;
	}

	&-1 {
		z-index: 1;
	}

	&-2 {
		z-index: 2;
	}
}

.arrow {
	border: double whitesmoke;
	border-width: 0 3px 3px 0;
	padding: 3px;
	height: 30px;
	width: 30px;
	display: inline-block;

	&.down {
		transform: rotate(45deg);
	}
}

//HEADER
.header {
	height: 800px;
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('../img/baguio.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 800px;

	@media (min-width: 486px) {
		height: 800;
	}
}

.hero-text {
	color: whitesmoke;
	text-align: center;
	position: absolute;
	top: 35%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;

	> p:first-of-type {
		font-size: 42px;
		margin-bottom: 0;
	}

	> p:nth-child(2) {
		font-size: 32px;
		letter-spacing: 6px;
	}

	button {
		position: relative;
		left: 15px;
		border: rgba($color: whitesmoke, $alpha: 1) solid thin;
		border-radius: 25px;
		font-family: 'Raleway', sans-serif;
		background-color: rgba(0, 0, 0, 0.5);
		color: rgba($color: whitesmoke, $alpha: 0.5);
		margin-top: 10px;
		font-size: 22px;
		transition: color 0.5s ease;

		&:hover {
			opacity: 1;
			backdrop-filter: blur(30px);
			color: rgba($color: whitesmoke, $alpha: 1);
			background-color: rgba(0, 0, 0, 0.5);
			transition: color 0.5s ease;
		}

		&:focus {
			outline: none;
		}
	}
}

.greeting-container > a {
	scroll-behavior: smooth;
	behavior: smooth;
}

.bar {
	margin-top: 20px;
	color: white;
	border-top: solid 1px;
	border-bottom: solid 1px;
	height: 1px;
	width: 350px;
	z-index: 1;
	animation: barspread 2s ease-out forwards;

	/* &:hover {		
		transform: translateY(-5px);
		height: 5px;
		width: 30%;
		transition: all 1.5s; 
	} */
}

.exit {
	position: relative;
	top: 120px;
	right: 55px;

	&-2 {
		position: relative;
		top: 135px;
		right: 85px;
	}
}

//ABOUT
.about {
	height: 800px;
	background-color: rgba(lightgray, 0.5);
}

.headshot {
	width: 175px;
	height: 225px;
	float: right;
}

.general-container {
	position: relative;
	top: 5%;
	background-color: whitesmoke;
	height: 700px;
	width: 60%;
	margin: auto;
	border-radius: 1%;
	padding: 20px;

	h1 {
		font-size: 32px;
	}

	.row {
		height: 250px;
	}
}

.card-row {
	display: flex;
	border: black solid 2px;
	height: 250px;
	margin: 10px;
	justify-content: center;

	.card {
		margin: 10px 15px;
		width: 30%;
	}
}

//PROJECTS-CONTACT
.projects-contact {
	height: 800px;
	border: solid 2px;
}

/* //HERO
.hero {
	height: 720px;

	@media (min-width: 486px) {
		height: 700px;
	}
}

.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35)),
		url('../img/baguio.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 860px;

	@media (min-width: 486px) {
		height: 700px;
	}
}

.greetings-container {
	height: 400px;
	position: relative;
	top: 50%;
	margin: auto;
}

.hero-text {
	color: whitesmoke;
	text-align: center;
	position: absolute;
	top: 60%;
	width: 100%;
	font-size: 30px;

	span {
		font-size: 40px;
	}

	button {
		font-size: 20px;
		border: whitesmoke solid thin;
		border-radius: 25px;
		font-family: 'Lato', sans-serif;
		background-color: rgba(0, 0, 0, 0.5);
		color: whitesmoke;
		margin-top: 40px;
		font-size: 32px;

		&:hover {
			background-color: rgba($color: #444141, $alpha: 0.5);
			backdrop-filter: blur(30px);
			color: white;
		}
	}
}

//About
.About {
	height: 720px;
}

.about-container {
	width: 100%;
	height: 720px;
	margin: 50px auto;
	background-color: rgba($color: #cac5c5, $alpha: 0.2);

	@media (min-width: 486px) {
		width: 100%;
	}
}

.Projects {
	height: 560px;
} */

//Animations

.arrow-spread {
	animation: 3s slideup infinite;
}

@keyframes slideup {
	0% {
		transform: translateY(0%) rotate(45deg) translateX(30%);
	}

	50% {
		transform: translateY(70%) rotate(45deg) translateX(30%);
		opacity: 10%;
	}

	100% {
		transform: translateY(0%) rotate(45deg) translateX(30%);
	}
}

@keyframes barspread {
	0% {
		height: 1px;
	}

	100% {
		height: 5px;
		transform: translateY(20%);
		width: 400px;
		border-bottom: double 3px rgba($color: whitesmoke, $alpha: 0.3);
	}
}
